<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
  <div class="jumbotron">
    

    <h1 class="display-4">Welcome to <%= title %> page</h1>
    <div class="row">
      <div class="col-md-4">
        <!-- Add the image here -->
        <img src="/img/photo.png" alt="My picture" style: width="100px"; height="100px">
      </div>

      
      <div class="col-md-8">
        
        <p>
          Hello, I'm Agnes Li. After more than 20 years working in a business field, I quit my previous job and started a new journey by studying software engineering technologyat Centennial College. Although the studies have been very challenging for me, I successfully completed the first semester and began the second semester. I want to be a role model for my daughter, to show that no matter how difficult the situation may be, maintaining a positive attitude and persevering is essential.
        </p>
        <p>
          <a href="\pdf\Resume-Agnes.pdf" target="_blank" class="btn btn-primary">View Resume (PDF)</a>
        </p>
      </div>
   </div>

    </div>

 
    </main>
    
    <!--bottom nav-->
    
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   